### Printing Hello World

#### Printing Hello World

##### Printing hello world

###### printing hello world

####### printing hello world

## printing hello world

# printing hello world

print("Hello World")

In [11]:
PRINT("Hello World")

NameError: name 'PRINT' is not defined

In [3]:
print(Hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3449611317.py, line 1)

In [4]:
print('Hello World')

Hello World

In [6]:
### print your name
print("Vidhya")

Vidhya

In [12]:
print("Python")

Python

### Datatypes

In [13]:
x=10
x

10

In [14]:
print(x)

10

In [16]:
type(x)

int

In [17]:
x=10.6
type(x)

float

In [18]:
y="Vidhya"
type(y)

str

In [19]:
y=Vidhya
type(y)

NameError: name 'Vidhya' is not defined

In [20]:
z=true
typy()

NameError: name 'true' is not defined

In [22]:
z='True'
type(z)

str

In [23]:
z=True
type(z)

bool

In [24]:
z=False
type(z)

bool

In [25]:
coures="ai"
course
type(course)

NameError: name 'course' is not defined

In [30]:
course="DATA SCIENCE"
print(type(course))
print(course)

<class 'str'>
DATA SCIENCE

In [31]:
type(course),course

(str, 'DATA SCIENCE')

### Rules for naming variables

In [33]:
book_names=["python","ai","ds"]
book_names

['python', 'ai', 'ds']

In [34]:
book names=["python","ai","ds"]
book names

SyntaxError: invalid syntax (12361024.py, line 1)

#### space is not allowed
#### olnly allowed spl character is underscore
#### variable name should not start with a no.
#### variable name should start with A to Z,a-z or underscore

In [36]:
book+names=["python","ai","ds"]
book+names

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (84047732.py, line 1)

In [38]:
3book_names=["python","ai","ds"]
3book_names

SyntaxError: invalid decimal literal (2956720424.py, line 1)

In [39]:
b3ook_names=["python","ai","ds"]
b3ook_names

['python', 'ai', 'ds']

In [40]:
book_names=["python","ai","ds"]
book_names

['python', 'ai', 'ds']

### Data Structures

In [ ]:
##### square brackets 
##### we can retrive elements using index and index starts from 0
##### MUTABLE-> we can make changes

In [50]:
sample_list=[10,2,3,4.5,5,1,"hi"]
sample_list

[10, 2, 3, 4.5, 5, 1, 'hi']

In [44]:
type(sample_list)

list

In [51]:
sample_list[3]

4.5

In [53]:
sample_list[10]

IndexError: list index out of range

In [54]:
sample_list[0]=100
sample_list

[100, 2, 3, 4.5, 5, 1, 'hi']

##### paranthesis
##### we can retrive elements using index and index starts from 0
##### IMMUTABLE-> we cannot make changes

In [55]:
sample_tuple=[10,2,3,4.5,5,1,"hi"]
sample_tuple

[10, 2, 3, 4.5, 5, 1, 'hi']

In [57]:
sample_tuple[1]

2

In [58]:
sample_tuple[10]

IndexError: list index out of range

In [66]:
sample_tuple[0]=100
sample_tuple

[100, 2, 3, 4.5, 5, 1, 'hi']

###### {}
###### duplicates are not allowed
###### arranged according to first place
###### cannot access using index
###### set is mutable

In [68]:
sample_set={1,2,3,4,10,34,23.5,"hi",2,"apple"}
sample_set

{1, 10, 2, 23.5, 3, 34, 4, 'apple', 'hi'}

In [69]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [70]:
sample_set.add(100)

In [71]:
sample_set

{1, 10, 100, 2, 23.5, 3, 34, 4, 'apple', 'hi'}

In [72]:
sample_set.remove("hi")

In [73]:
sample_set

{1, 10, 100, 2, 23.5, 3, 34, 4, 'apple'}

### dictionary
### has key-value pair data structure
### values can be duplicated
### values can be retrived using key
### key cannot be retrieved using value

In [1]:
sample_dict={1:"apple",2:35.4,3:"data",2:"every",6:35.4,2:"hi"}
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4}

In [2]:
sample_dict[3]

'data'

In [3]:
sample_dict["apple"]

KeyError: 'apple'

In [4]:
sample_dict[7]=100

In [5]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100}

In [7]:
sample_dict[10]="bussiness"

In [8]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100, 10: 'bussiness'}